@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 id="welcome" style="text-align: center;">Welcome to Eau Claire staff portal!</h1>
</div>
<br>
<div class="content">
  <h5>Select from the following options:</h5>
  <hr />
  <ul>
    <li>@Html.ActionLink("See all stylists", "Index", "Stylists")</li>
    <li>@Html.ActionLink("See all clients", "Index", "Clients")</li>
  </ul>
</div>