@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 style="text-align: center;">Welcome to Eau Claire stylist portal!</h1>
</div>
<br>
<h5>Select from the following options:</h5>
<ul>
  <li>@Html.ActionLink("See all stylists", "Index", "Stylists")</li>
  <li>@Html.ActionLink("See all stylists", "Index", "Stylists")</li>
</ul>