@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 id="welcome" style="text-align: center;">Welcome to Eau Claire staff portal!</h1>
</div>
<br>
<h3>Select from the following options:</h3>
<ul>
  <li>@Html.ActionLink("See all stylists", "Index", "Stylists")</li>
  <li>@Html.ActionLink("See all clients", "Index", "Clients")</li>
</ul>