@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 style="text-align: center;">Welcome to Eau Claire stylist portal!</h1>
</div>
<br>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>